# mysql conf /etc/my.cnf
# Created by http://www.wdlinux.cn
# Last Updated 2010.06.01

[client]
port            = 3306
socket          = /tmp/mysql.sock
[mysqld]
port            = 3306
socket          = /tmp/mysql.sock
skip-external-locking
skip-innodb
key_buffer_size = 64M
max_allowed_packet = 1M
table_open_cache = 256
sort_buffer_size = 128K
read_buffer_size = 128K
net_buffer_length = 2K
read_rnd_buffer_size = 256K
myisam_sort_buffer_size = 2M
thread_cache_size = 8
query_cache_size= 8M
thread_concurrency = 8
max_connections = 100
wait_timeout = 30
interactive_timeout = 30
max_connect_errors = 9
long_query_time = 1
tmp_table_size = 8M
[mysqldump]
quick
max_allowed_packet = 2M
[mysql]
no-auto-rehash
[myisamchk]
key_buffer_size = 12M
sort_buffer_size = 1M
read_buffer = 1M
write_buffer = 1M
[mysqlhotcopy]
interactive-timeout
